@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;800&display=swap");

* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

html {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 22px;
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
}
